{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "bracketSpacing": true
}
